<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>

        <env name="NOTIFIER_FIREBASE_KEY" value=""/>
        <env name="NOTIFIER_FIREBASE_TO_DEVICE" value=""/>
        <env name="NOTIFIER_FIREBASE_TO_DEVICE_SECOND" value=""/>
        <env name="NOTIFIER_FIREBASE_TO_TOPIC" value=""/>

        <env name="NOTIFIER_CALL_CENTER_PHONE_TEST" value=""/>
        <env name="NOTIFIER_CALL_CENTER_USERNAME" value=""/>
        <env name="NOTIFIER_CALL_CENTER_PASSWORD" value=""/>
        <env name="NOTIFIER_CALL_CENTER_API_URL" value=""/>
        <env name="NOTIFIER_CALL_CENTER_SECRET_KEY" value=""/>
        <env name="NOTIFIER_CALL_CENTER_ACCESS_TOKEN" value=""/>
        <env name="NOTIFIER_CALL_CENTER_CAMPAIGN_ID" value=""/>

        <env name="NOTIFIER_TWILIO_ID" value=""/>
        <env name="NOTIFIER_TWILIO_TOKEN" value=""/>
        <env name="NOTIFIER_TWILIO_FROM" value=""/>

        <env name="NOTIFIER_FUNTAP_PHONE_TEST" value=""/>
        <env name="NOTIFIER_FUNTAP_API_URL" value=""/>
        <env name="NOTIFIER_FUNTAP_API_KEY" value=""/>
        <env name="NOTIFIER_FUNTAP_COMPANY_ID" value=""/>

        <env name="NOTIFIER_CMC_TEST" value=""/>
        <env name="NOTIFIER_CMC_API_URL" value=""/>
        <env name="NOTIFIER_CMC_BRAND_NAME" value=""/>
        <env name="NOTIFIER_CMC_USERNAME" value=""/>
        <env name="NOTIFIER_CMC_PASSWORD" value=""/>
    </php>
</phpunit>
